{% extends 'app/base.html' %}
{% load static %}
{% block title %}
    Типы отзывов
{% endblock %}


{% block content %}
    <form action="" method="post" style="display: flex; justify-content: center">
        {% csrf_token %}
        <div class="field">
            <div class="control">
                <input type="text" required class="input" name="name" placeholder="" style="width: 230px">
            </div>
        </div>
        <button type="submit" class="button is-success">Создать</button>
    </form>
    <p></p>
    <table class="table is-bordered">
        <thead>
        <tr>
            <th>Название</th>
            <th></th>
        </tr>
        </thead>
        <tbody>

        {% for review_type in review_types %}
            <tr>
                <td>{{ review_type.name }}</td>
                <td>
                    <a href="{% url 'app:review_type_edit' review_type.pk %}">
                    <span class="icon block_centered" style="color: orange">
                        <i class="fas fa-edit"></i>
                    </span>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}