{% load app_tags %}
<div class="box" id="detail_data" style="padding-bottom: 50px">
    <h4 style="color: #64b5f6; text-align: center">{{ place.name }} <br><span
            style="color:grey; font-size: 11px; ">{{ place.date_update }}</span></h4>
    {% if request.user|hasGroup:'Администратор' %}
        <a href="{% url 'app:place_edit' place.cid %}" class="button_add button is-warning">
            Редактировать данные</a>
        <a href="{% url 'app:place_update' place.pk %}" style="margin-top: 50px" class="button_add button is-info">
            Обновить данные</a>
    {% endif %}
    <div style="display:flex;">

        <img src="{{ place.get_img }}" class="card" alt=""
             style="height: 100% !important; max-width: 300px !important;margin-right: 10px">
        <div>
            <p><span>Название:</span> <span>{{ place.name }}</span></p>
            <p><span>Адрес:</span> <span>{{ place.address|isValue }}</span></p>
            <p><span>Сайт:</span> <span><a
                    href="{{ place.site|isSite }}">{{ place.site|isSite }}</a></span></p>
            <p><span>Телефон:</span> <span><a
                    href="tel:{{ place.phone_number }}">{{ place.phone_number|isValue }}</a></span></p>
            <p><span>Рейтинг:</span> <span>{{ place.rating }} (<span
                    style="color: #9c9c9c">{{ place.rating_user_count }}</span>)</span></p>
            </p>
            <p><span>Ссылка GoogleMaps:</span> <span><a href="https://maps.google.com/?cid={{ place.cid }}"
                                                        target="_blank">https://maps.google.com/?cid={{ place.cid }}</a></span>
            </p>

            <p class="iframe_wrap">{% if place.coordinate_html %} {{ place.coordinate_html|safe }}{% else %}Карты
                нет{% endif %}</p>
            <p><span>Описание:</span>
                <span>
                        {% if place.description %}
                            {{ place.description }}
                        {% else %}
                            {{ place.get_meta_description }}
                        {% endif %}
                </span>
            </p>
            {% if place.photos.count > 3 %}

                <section class="" style="max-width: 1000px">
                    <div class="is-clipped">
                        <div id="slider">
                            {% for photo in place.photos.all %}
                                <div class="card">
                                    <div class="card-image">
                                        <figure class="image is-16by9 is-covered">
                                            <img src="{{ photo.img.url }}" alt=""
                                                 style="width: 200px !important; height: 200px !important;"
                                                 onclick="showModalImg('{{ photo.img.url }}')">
                                        </figure>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>
                    </div>
                </section>
            {% else %}
                <div style="display: flex; justify-content: center;flex-wrap: wrap; ">
                    {% for photo in place.photos.all %}
                        <img src="{{ photo.img.url }}" alt=""
                             style="width: 200px !important; height: 200px !important; margin: 20px; border-radius: 10px;"
                             onclick="showModalImg('{{ photo.img.url }}')">
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
</div>