{% extends 'parsing/base.html' %}
{% load parsing_tags %}

{% block title %}
    Главная
{% endblock %}

{% block content %}
    {% if request.user.is_authenticated %}
        <div class="statistic_text">
            <h3>Account statistics</h3>
            <p>User: {{ user.last_name }} {{ user.first_name }}</p>
            <p>On site with: {{ user.date_joined }}</p>
            {% if request.user|hasGroup:'Admin' %}
                <p>All query count: {{ queries.count }}</p>
                <p>All place count: {{ places.distinct.count }}</p>
            {% endif %}
        </div>
    {% else %}
        <p class="welcome_text">Site dedicated to finding places, <a href="{% url 'login' %}">Login</a> or <a
                href="{% url 'parsing:registration' %}">Registration</a></p>
    {% endif %}

{% endblock %}