{% extends 'app/base.html' %}
{% load app_tags %}
{% block title %}
    Все отзывы
{% endblock %}

{% block content %}
    <h2 class="block_title">Все отзывы</h2>
    <div class="columns is-centered">
        <div class="column is-9">
            {% for review in reviews %}
                {% include 'app/include/review/card.html' %}
            {% empty %}
                <p class="text_centered" style="color:grey;">Отзывов пока нет</p>
            {% endfor %}
            {% if reviews %}
                {% include 'app/include/pagination.html' with page=reviews %}
            {% endif %}
        </div>
    </div>
{% endblock %}