{% extends 'app/base.html' %}

{% block title %}
    Добавление запроса
{% endblock %}

{% block content %}
    <form action="" method="post" class="custom_form">
        {% csrf_token %}
        <div class="field">
            <label for="" class="label">
                Название запроса
            </label>
            <div class="control">
                <input type="text" required class="input" name="name" placeholder="Отели в москве">
            </div>
        </div>
        <div class="field">
            <label for="" class="label">
                Количевство страниц
            </label>
            <div class="control">
                <input type="number" required class="input" name="page" value="1">
            </div>
        </div>

{#        <label class="checkbox">#}
{#            <input class="checkbox" type="checkbox" name="detail">#}
{#            Детальный поиск#}
{#        </label>#}
        <button type="submit" class="button is-info centered">Искать</button>
    </form>
{% endblock %}