{% extends 'app/base.html' %}
{% load app_tags %}
{% block title %}
    {{ query.type.name }} | {{ query.place_id }}
{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'query_type_list' %}">Мои запросы</a></li>
    <li class="breadcrumb-item"><a href="{{ query.type.get_absolute_url }}">{{ query.type.name }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ query.place_id }}</li>
  </ol>
</nav>
    <h4 class="centered_link">{{ query.data.name }}</h4>
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <div class="accordion_flex"><span>Данные взятые при первом парсинге</span> <span>{{ query.date_create}}</span></div>
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne">
          <div class="accordion-body">

                <p><span>Название:</span> <span>{{ query.data.name }}</span></p>
                <p><span>Адрес:</span> <span>{{ query.data.formatted_address }}</span></p>
                <p><span>Рейтинг:</span> <span>{{ query.data.rating }}</span></p>
                <p><span>Пользователей оценило:</span> <span>{{ query.data.user_ratings_total }}</span></p>
                <p><span>Тип:</span> <span>{% for type in query.data.types %}{{ type }}{% if not forloop.last %}, {% endif %}{% endfor %}</span></p>

          </div>
        </div>
      </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            <div class="accordion_flex"><span>Данные взятые при детальном парсинге</span> <span>{{ query.date_update}}</span></div>
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo">
          <div class="accordion-body">
                <a href="{% url 'query_update' query.pk %}" class="button_add btn btn-secondary">{% if query.detail_data %}Обновить{% else %}Добавить{% endif %} данные</a>

                  {% if query.detail_data %}
                        <p><span>Название:</span> <span>{{ query.detail_data.name }}</span></p>
                        <p><span>Адрес:</span> <span>{{ query.detail_data.formatted_address }}</span></p>
                        <p><span>Рейтинг:</span> <span>{{ query.detail_data.rating }}</span></p>
                        <p><span>Пользователей оценило:</span> <span>{{ query.detail_data.user_ratings_total }}</span></p>
                        <p><span>Тип:</span> <span>{% for type in query.detail_data.types %}{{ type }}{% if not forloop.last %}, {% endif %}{% endfor %}</span></p>
                        <p><span>Ссылка GoogleMaps:</span> <span><a href="{{ query.detail_data.url }}" target="_blank">{{ query.detail_data.url }}</a></span></p>
                        <p><span>Ссылка на сайт:</span> <span><a href="{{ query.detail_data.website }}" target="_blank">{{ query.detail_data.website }}</a></span></p>
                        <p><span>Телефон:</span> <span>{{ query.detail_data.formatted_phone_number }}</span></p>
                        <h4>Отзывы</h4>
                        <div class="reviews">
                        {% for review in query.detail_data.reviews %}
                        <div class="review">
                            <span class="author">{{ review.author_name }}</span>
                            <span class="text">{{ review.text }}</span>
                        </div>

                            {% empty %}
                            <p class="empty">Пока никто не оставил отзывов</p>
                        {% endfor %}
                        </div>
                      {% else %}
                      <br>
                      <p class="empty">Данных детального парсинга не найдено</p>
                      <br>
                    {% endif %}
          </div>
        </div>
      </div>
    </div>


{% endblock %}

{% block script %}
{% endblock %}