{% extends 'app/base.html' %}
{% load static %}

{% block title %}
    Составление рейтинга
{% endblock %}

{% block style %}
    <style>

    </style>
    <script src="{% static 'Sortable-master/Sortable.min.js' %}"></script>
{% endblock %}

{% block content %}
    <form action="">
        {% csrf_token %}
        <table>
            <thead>
            <tr>
                <th>№</th>
                <th>Название</th>
                <th>Рейтинг</th>
                <th>Оценило</th>
                <th>Отзывы</th>
            </tr>
            </thead>
            <tbody id="places">
            {% for place in places %}
                <tr {% if forloop.counter <= 20 %} style="background-color: #ffe395" {% endif %}>
                    <td class="place_position">{{ forloop.counter }}</td>
                    <td class="place_name"><a href="{{ place.get_absolute_url }}">{{ place.name }}</a></td>
                    <td>{{ place.rating }}</td>
                    <td>{{ place.rating_user_count }}</td>
                    <td>{{ place.reviews.count }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <button type="submit" class="button is-info is-medium" style="
    position: fixed;
    right: 40px;
    bottom: 40px;
">Сохранить
        </button>
    </form>
{% endblock %}

{% block script %}
    <script>
        new Sortable(document.getElementById('places'), {
            {#handle: '.handle',#}
            animation: 150,
            delayOnTouchOnly: true,
            removeCloneOnHide: false,
            ignore: '.place_position'
        });
    </script>
{% endblock %}