{% extends 'app/base.html' %}

{% load app_tags %}

{% block title %}
    Места
{% endblock %}


{% block style %}
    <style>
        .sidebar_filter {
            z-index: 100;
            height: 100%;
            position: fixed;
            width: 400px;
            top: 0;
            right: -401px;
            transition: all .5s;
            background-color: white;
            display: flex;
            flex-direction: column;
            padding: 30px 10px;
        }

        .sidebar_filter .icon {
            align-self: end;
            font-size: 24px;
            cursor: pointer;
            margin-bottom: 30px;
            margin-top: -20px;
        }

        .sidebar_show {
            right: 0px !important;
        }

        .shadow_wrapper {
            bottom: 0;
            left: 0;
            position: fixed;
            right: 0;
            top: 0;
            z-index: -10;
            transition: background-color .1s;
            height: 100vh;
        }

        .wrapper_show {
            z-index: 10;
            background-color: rgba(0, 0, 0, .30);
        }


        .tags {
            display: flex;
            justify-content: center;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="icons"
         style="display: flex; justify-content: end; margin-bottom: 10px;margin-top: -10px; font-size: 19px">

       <span class="icon is-small" id="filter_icon">
           <i style="color: grey" class="fas fa-filter" aria-hidden="true"></i>
       </span>
    </div>
    <div class="shadow_wrapper" id="shadow_wrapper"></div>
    <div class="sidebar_filter box" id="sidebar_filter">
        <span class="icon is-small" id="close_icon">
            <i class="fa fa-times-circle"></i>
        </span>
        <form action="">
            <div class="field">
                <label for="" style="display:block;">Поиск по названию</label>
                <div class="control" style="display: flex">
                    <input type="text" class="input" name="search" id="name" placeholder="search"
                           {% if search %}value="{{ search }}"{% else %}{% endif %}>
                    <button type="submit" class="button is-warning"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </form>
        <hr>
        <form action="">
            <label for="">Поиск по тэгам</label>
            <div class="tag_items">
                {% for tag in tags %}
                    <div class="tag_item">
                        <input type="checkbox" id="tag_{{ tag.id }}" style="display: none" name="tags"
                               value="{{ tag.id }}" {% if tag.id in tags_checked %}checked{% endif %}>
                        <label for="tag_{{ tag.id }}" class="button is-success is-outlined"
                               style="margin: 3px">{{ tag.name }}</label>
                    </div>
                {% endfor %}
            </div>
            <button type="submit" class="button is-success centered">
                Search
            </button>
        </form>
    </div>
    <div class="columns is-multiline">
        {% for query in queries %}
            <div class="column is-3" style="padding: 10px; box-sizing: border-box">
                <a class="box" href="{% url 'app:places' query.slug %}" style="display: flex; min-height: 140px">
                    <img src="{{ query|getBaseImg }}"
                         style="height: 120px !important; width: 150px !important; margin-right: 10px" alt="">
                    <div style="display: flex; justify-content: space-between; flex-direction: column; align-items: end">
                        <div style="display: flex; justify-content: space-between">
                            <span>{{ query }}</span>
                            <p>Объектов: {{ query.places_count }}</p>

                            <div style="display: flex; justify-content: center; flex-wrap: wrap">
                                {% for tag in query.tags.all %}
                                    <span class="tag is-outlined is-info" style="margin: 3px">{{ tag.name }}</span>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </a>


            </div>
        {% endfor %}
    </div>

    {% include 'app/include/pagination.html' with page=queries %}
{% endblock %}

{% block script %}
    <script>
        function sidebarShow() {
            let sidebar = document.getElementById('sidebar_filter');
            sidebar.classList.toggle('sidebar_show');
            let wrapper = document.getElementById('shadow_wrapper');
            wrapper.classList.toggle('wrapper_show')
        }

        let filter_icon = document.getElementById('filter_icon');
        filter_icon.addEventListener('click', sidebarShow)

        let close_icon = document.getElementById('close_icon');
        close_icon.addEventListener('click', sidebarShow)
    </script>
{% endblock %}