{% extends 'parsing/base.html' %}
{% load parsing_tags static %}

{% block title %}
    {{ review.text|truncatechars:20 }}
{% endblock %}

{% block content %}
    <h4 class="block_title">Изменить отзыв на <a href="{{ review.place.get_absolute_url }}"
                                                 class="link">{{ review.place.name }}</a></h4>
    <div class="columns is-centered">
        <div class="box column is-8">
            {% include 'parsing/include/review/form.html' %}
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'parsing/js/rating_check.js' %}"></script>
{% endblock %}