{% load app_tags static %}

<div class="columns is-centered" style="margin-bottom: 30px">
    <div class="box column is-12 review-card">
        <p style="border-bottom: 1px solid lightgrey; display: flex; justify-content: space-between; margin-bottom: 3px">
                    <span style="display: flex; justify-content: center; align-items: center">
                    {% if review.is_dependent %}
                        <img src="{% static 'parsing/img/not_avatar.svg' %}"
                             style="width: 30px; height: 30px; margin-right: 10px" alt="">
                        <a class="link"
                           href="">{{ review.get_user_name }}</a>
                    {% else %}
                        <img src="{% if review.user.profile.img %}{{ review.user.profile.img.url }}{% else %}{% static 'parsing/img/not_avatar.svg' %}{% endif %}"
                             style="width: 30px; height: 30px; margin-right: 10px; border-radius: 100%" alt="">
                        <a class="link"
                           href="

                                   {% if review.user %}{% url 'parsing:public_cabinet' review.user.username %}{% endif %}">{{ review.get_user_name }}</a>
                    {% endif %}
                        <span style="color:grey;">({{ review.date_create }})</span>
                    </span>
            {% if review.user == request.user or request.user|hasGroup:'Redactor' %}
                <a href="{% url 'parsing:my_review_edit' review.pk %}">
                    {% if review.is_edit %}
                        <span style="color: grey">Было ред.:{{ review.date_update }}</span>
                    {% endif %}
                    <span class="icon" style="color: orange">
                            <i class="fas fa-edit"></i>
                        </span>
                </a>
            {% else %}
                <p></p>
            {% endif %}
        </p>
        {% if review.parts.exists %}
            <div style="display: flex; justify-content: space-between; align-items: center;border-bottom: 1px solid lightgrey;padding: 0px 10px; margin-bottom: 10px">
                <div style="width: 10%;font-size: 40px; color: gold; font-weight: 600;">{{ review.get_rating }}</div>
                <div class="rating_parts">
                    {% for part in review.parts.all %}
                        <div class="rating_part">
                            {{ part.review_type.name }}
                            <div>
                                {{ part.rating|getRating|safe }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% else %}
            {{ review.rating|getRating|safe }}
        {% endif %}
        {% if review.text|length > 320 %}
            <p>
                {{ review.text|slice:":320" }}<span class="dots">...</span><span class="more_text">{{ review.text|slice:"320:" }}</span>
                <span class="link" onclick="showMore(this)">More text</span>
            </p>
        {% else %}
            <p>{{ review.text }}</p>
        {% endif %}
    </div>
</div>