{% extends 'parsing/base.html' %}

{% block title %}
    Services
{% endblock %}

{% block style %}
    <style>
        .service_card {
            border: 1px solid orange;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
{% endblock %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        <input type="text" class="input" style="width: 430px" name="name">
        <button type="submit" class="button is-success text-center">
            create
        </button>
    </form>
    <div class="columns is-multiline mt-3">
        {% for service in services %}
            <div class="column is-3">
                <div class="card p-3 service_card has-text-warning">
                    {{ service.name }}
                </div>
            </div>
        {% empty %}
            <span class="has-text-grey">Services not found</span>
        {% endfor %}
    </div>
{% endblock %}