.rating_parts {
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
}

.rating_part {
    padding: 10px;
    margin: 6px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.base_rating_area {
    display: block;
    margin: 10px auto;
    width: fit-content;
}

#base_rating {
    font-size: 27px;
    color: gold;
    font-weight: 600;
}

.place_little_card:hover .top_place_number {
    opacity: 1;
}

.top_place_number {
    position: absolute;
    opacity: 0;
    width: 50px;
    transition: opacity .3s;
    padding: 10px;
    background-color: white;
    color: cornflowerblue;
    text-align: center;
    z-index: 999 !important;
}

.number_right {
    margin-left: 250px;
    background: white;
    font-weight: 600;
}
.review-card{
    background-color: inherit;
}