{% extends 'app/base.html' %}

{% block title %}
    Пользователи без групп
{% endblock %}

{% block content %}
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'app:admin_dashboard' %}">Админ панель</a></li>
        <li class="breadcrumb-item"><a href="{% url 'app:group_list' %}">Роли</a></li>
        <li class="breadcrumb-item active" aria-current="page">Без роли</li>
      </ol>

    <ul class="list-group">
    {% for user in users %}
        <li class="list-group-item between_flex"><a href="{% url 'app:user_detail' user.pk %}">{{ user.username }}</a><span>{{ user.date_joined }}</span></li>
    {% endfor %}
    </ul>
{% endblock %}