{% extends 'parsing/base.html' %}

{% block title %}
    {{ city.name }}
{% endblock %}

{% block style %}
    <style>
        .services {
            justify-content: space-between;
            display: flex;
            flex-wrap: wrap;
            width: 100%;
        }

        .service {
            width: 30%;
            margin-bottom: 10px;
        }

        .service .link {
            padding: 5px;
            font-size: 16px;
            border-radius: 5px;
        }

        .service .link:hover {
            background: #ffe1b3;
        }

        .city_name {
            position: absolute;
            color: #000000;
            background: #ffffffc4;
            border-top-left-radius: 12px;
            padding: 4px 10px;
            font-size: 22px !important;
        {#margin: 1px;#} letter-spacing: 2px;
            font-style: normal !important;
            border-bottom-right-radius: 15px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="columns">
        <div class="column is-3">
            <span class="city_name">{{ city.name }}</span>
            <img src="{{ city.cloud_img.get_default_img }}"
                 style="height: 300px !important; border-radius: 15px; width: 100%" alt="">
        </div>
        <div class="column is-9">
            <h3>Description</h3>
            <div></div>
            <h3>Services</h3>
            <div class="services">
                {% for city_service in city_services %}
                    <div class="service">
                        <a href="{{ city_service.get_absolute_url }}" class="link"
                           style="font-size: 14px">{{ city_service.service.name }} <span
                                class="has-text-dark">({{ city_service.places.count }})</span></a>
                    </div>
                {% empty %}
                    <span class="has-text-gray">
                        Services not found
                    </span>
                {% endfor %}

            </div>
        </div>
    </div>
{% endblock %}