{% extends 'new_design/base.html' %}

{% block title %} Пароль изменен {% endblock %}

{% block content %}
<div class="content" style="display: flex; justify-content: center; align-items: center; flex-direction: column">
    <p style="text-align: center; margin: 20px auto; display: block; color: #68c168; font-size: 28px;">Вы успешно сменили пароль</p>
    <p><a href="{% url 'new_send' %}" class="btn waves-effect btn-primary" style="width: 230px">Отправленные</a></p>
    <p><a href="{% url 'new_my' %}" class="btn waves-effect btn-primary" style="width: 230px;">Принятые</a></p>
</div>

{% endblock %}