{% extends 'new_design/base.html' %}

{% block title %} Смена пароля {% endblock %}

{% block content %}
<p style="
    text-align: center;
    font-size: 24px;
    color: #6f9fcc;
">Форма для смены пароля</p>
    <form action="" method="post" style="
    width: 321px;
    margin: auto;
">
        {{ form.as_p }}
        {% csrf_token %}
        <p><button type="submit" value="Сменить" class="btn-primary btn waves-effect" style="margin: 10px auto; display: block; width: min-content; color:white;">Сменить</button></p>
    </form>
{% endblock %}