{% extends 'app/base.html' %}
{% load app_tags %}
{% block title %}
    {{ place.place_id }}
{% endblock %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'app:query_list' %}">Мои запросы</a></li>
            {#    <li class="breadcrumb-item"><a href="{{ place.query.get_absolute_url }}">{{ place.query.name }}</a></li>#}
            <li class="breadcrumb-item active" aria-current="page">{{ place.place_id }}</li>
        </ol>
    </nav>
    <h4 class="centered_link">{{ place.data.name }}</h4>
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                        aria-expanded="true" aria-controls="collapseOne">
                    <div class="accordion_flex"><span>Данные взятые при первом парсинге</span>
                        <span>{{ place.date_create }}</span></div>
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne">
                <div class="accordion-body">

                    <p><span>Название:</span> <span>{{ place.data.name }}</span></p>
                    <p><span>Адрес:</span> <span>{{ place.data.formatted_address }}</span></p>
                    <p><span>Рейтинг:</span> <span>{{ place.data.rating }}</span></p>
                    <p><span>Пользователей оценило:</span> <span>{{ place.data.user_ratings_total }}</span></p>
                    <p><span>Тип:</span> <span>{% for type in place.data.types %}{{ type }}{% if not forloop.last %},
                    {% endif %}{% endfor %}</span></p>

                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                        aria-expanded="true" aria-controls="collapseTwo">
                    <div class="accordion_flex"><span>Данные взятые при детальном парсинге</span>
                        <span>{{ place.date_update }}</span></div>
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo">
                <div class="accordion-body">
                    <a href="{% url 'app:place_update' place.pk %}" class="button_add btn btn-secondary">
                        {% if place.detail_data %}Обновить{% else %}Добавить{% endif %} данные</a>

                    {% if place.detail_data %}
                        <p><span>Название:</span> <span>{{ place.detail_data.name }}</span></p>
                        <p><span>Адрес:</span> <span>{{ place.detail_data.formatted_address }}</span></p>
                        <p><span>Рейтинг:</span> <span>{{ place.detail_data.rating }}</span></p>
                        <p><span>Пользователей оценило:</span> <span>{{ place.detail_data.user_ratings_total }}</span>
                        </p>
                        <p><span>Тип:</span> <span>{% for type in place.detail_data.types %}{{ type }}
                            {% if not forloop.last %}, {% endif %}{% endfor %}</span></p>
                        <p><span>Ссылка GoogleMaps 1:</span> <span><a href="{{ place.detail_data.url }}"
                                                                      target="_blank">{{ place.detail_data.url }}</a></span>
                        </p>
                        <p><span>Ссылка GoogleMaps 2:</span> <span><a
                                href="https://www.google.com/maps/place/?q=place_id:{{ place.place_id }}"
                                target="_blank">https://www.google.com/maps/place/?q=place_id:{{ place.place_id }}</a></span>
                        </p>
                        <p><span>Ссылка на сайт:</span> <span><a href="{{ place.detail_data.website }}"
                                                                 target="_blank">{{ place.detail_data.website }}</a></span>
                        </p>
                        <p><span>Телефон:</span> <span>{{ place.detail_data.formatted_phone_number }}</span></p>
                        <p><span>График:</span> <span>
                            {% for day in place.detail_data.opening_hours.weekday_text %}
                                <p class="weekday_text">{{ day }}</p>
                            {% empty %}
                                Не указан
                            {% endfor %}
                        </span>
                        </p>
                        <h4>Отзывы</h4>
                        <div class="reviews">
                            {% for review in place.detail_data.reviews %}
                                <div class="review">
                                    <span class="author">{{ review.author_name }}</span>
                                    <span class="text">{{ review.text }}</span>
                                </div>

                            {% empty %}
                                <p class="empty">Пока никто не оставил отзывов</p>
                            {% endfor %}
                        </div>
                    {% else %}
                        <br>
                        <p class="empty">Данных детального парсинга не найдено</p>
                        <br>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <p class="">Относящиеся запросы:</p>
    {% for query in place.queries.all %}
        <p style="color:grey;"><a href="{{ query.query.get_absolute_url }}">{{ query }}</a></p>
    {% endfor %}
    <hr>
    <h3>Отзывы</h3>
    <form action="{% url 'app:review_add' place.place_id %}" method="post" style="width: 400px; display: flex; justify-content: center; align-items: center; flex-direction: column;">
        {% csrf_token %}
        <div class="rating-area">
            <input type="radio" id="star-5" name="rating" value="5">
            <label for="star-5" title="Оценка «5»"></label>
            <input type="radio" id="star-4" name="rating" value="4">
            <label for="star-4" title="Оценка «4»"></label>
            <input type="radio" id="star-3" name="rating" value="3">
            <label for="star-3" title="Оценка «3»"></label>
            <input type="radio" id="star-2" name="rating" value="2">
            <label for="star-2" title="Оценка «2»"></label>
            <input type="radio" id="star-1" checked name="rating" value="1">
            <label for="star-1" title="Оценка «1»"></label>
        </div>
        <i class="fa fa-star-o"></i>
        <textarea name="text" id="" cols="" rows="">

        </textarea>

        <button type="submit">Отправить</button>
    </form>
    {% for review in place.reviews.all %}
        {% if review.user == request.user %}
            Вы можете изменить
        {% endif %}
        <div class="review">
            <div><span class="author">{{ review.user.username }}</span><span class="star">{{ review.rating }}</span></div>
            <span class="text">{{ review.text }}</span>
        </div>
    {% endfor %}
{% endblock %}

{% block script %}
{% endblock %}