{% extends 'app/base.html' %}
{% load app_tags static %}
{% block title %}
    {% if place.title %}
        {{ place.title }}
    {% else %}
        {{ place.name }}
    {% endif %}
{% endblock %}

{% block style %}
    <style>
        .iframe_wrap iframe {
            box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
            border-radius: 5px;
            display: block;
            margin: auto;
        }

        .base_rating_area {
            display: block;
            margin: 10px auto;
            width: fit-content;
        }

        #base_rating {
            font-size: 27px;
            color: gold;
            font-weight: 600;
        }
    </style>
{% endblock %}

{% block meta %}
    {% if place.meta %}
        {{ place.meta|safe }}
    {% endif %}
{% endblock %}

{% block breadcrumb %}
    <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
            <li><a href="{% url 'app:query_list' %}">Мои запросы</a></li>
            {#    <li class="breadcrumb-item"><a href="{{ place.query.get_absolute_url }}">{{ place.query.name }}</a></li>#}
            <li class="is-active"><a href="#" aria-current="page">{{ place.cid }}</a></li>
        </ul>
    </nav>

{% endblock %}

{% block content %}
    <div class="modal" id="modal" onclick="closeModal()">
        <div class="modal-background"></div>
        <div class="modal-content">
            <p class="image is-4by3">
                <img src="" alt="" id="place_image" style="border-radius: 5px">
            </p>
        </div>
        <button class="modal-close is-large" aria-label="close" onclick="closeModal()"></button>
    </div>
    {#    <div class="box block_data show" id="basic_data">#}
    {#        <span>{{ place.date_create }}</span>#}
    {#        <div class="">#}
    {#            <p><span>Название:</span> <span>{{ place.data.name }}</span></p>#}
    {#            <p><span>Адрес:</span> <span>{{ place.data.formatted_address }}</span></p>#}
    {#            <p><span>Рейтинг:</span> <span>{{ place.data.rating }}</span></p>#}
    {#            <p><span>Пользователей оценило:</span> <span>{{ place.data.user_ratings_total }}</span></p>#}
    {#            <p><span>Тип:</span> <span>{% for type in place.data.types %}{{ type }}{% if not forloop.last %},#}
    {#            {% endif %}{% endfor %}</span></p>#}
    {##}
    {#        </div>#}
    {#    </div>#}
    <div class="box" id="detail_data" style="padding-bottom: 50px">
        <h4 style="color: #64b5f6; text-align: center">{{ place.name }} <br><span
                style="color:grey; font-size: 11px; ">{{ place.date_update }}</span></h4>
        {% if request.user|hasGroup:'Администратор' %}
            <a href="{% url 'app:place_edit' place.cid %}" class="button_add button is-warning">
                Редактировать данные</a>
            <a href="{% url 'app:place_update' place.pk %}" style="margin-top: 50px" class="button_add button is-info">
                Обновить данные</a>
        {% endif %}
        <div style="display:flex;">

            <img src="{{ place.img|getImg }}" class="card" alt=""
                 style="height: 100% !important; max-width: 300px !important;margin-right: 10px">
            <div>
                <p><span>Название:</span> <span>{{ place.name }}</span></p>
                <p><span>Адрес:</span> <span>{{ place.address|isValue }}</span></p>
                <p><span>Сайт:</span> <span><a
                        href="{{ place.site|isSite }}">{{ place.site|isSite }}</a></span></p>
                <p><span>Телефон:</span> <span><a
                        href="tel:{{ place.phone_number }}">{{ place.phone_number|isValue }}</a></span></p>
                <p><span>Рейтинг:</span> <span>{{ place.rating }} (<span
                        style="color: #9c9c9c">{{ place.rating_user_count }}</span>)</span></p>
                </p>
                <p><span>Ссылка GoogleMaps:</span> <span><a href="https://maps.google.com/?cid={{ place.cid }}"
                                                            target="_blank">https://maps.google.com/?cid={{ place.cid }}</a></span>
                </p>

                <p class="iframe_wrap">{% if place.coordinate_html %} {{ place.coordinate_html|safe }}{% else %}Карты
                    нет{% endif %}</p>
                <p><span>Описание:</span>
                    <span>
                        {% if place.description %}
                            {{ place.description }}
                        {% else %}
                            {{ place.get_meta_description }}
                        {% endif %}
                </span>
                </p>
                {% if place.photos.count > 3 %}

                    <section class="" style="max-width: 1000px">
                        <div class="is-clipped">
                            <div id="slider">
                                {% for photo in place.photos.all %}
                                    <div class="card">
                                        <div class="card-image">
                                            <figure class="image is-16by9 is-covered">
                                                <img src="{{ photo.img.url }}" alt=""
                                                     style="width: 200px !important; height: 200px !important;"
                                                     onclick="showModalImg('{{ photo.img.url }}')">
                                            </figure>
                                        </div>
                                    </div>
                                {% endfor %}

                            </div>
                        </div>
                    </section>
                {% else %}
                    <div style="display: flex; justify-content: center;flex-wrap: wrap; ">
                        {% for photo in place.photos.all %}
                            <img src="{{ photo.img.url }}" alt=""
                                 style="width: 200px !important; height: 200px !important; margin: 20px; border-radius: 10px;"
                                 onclick="showModalImg('{{ photo.img.url }}')">
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="dropdown" onclick="this.classList.toggle('is-active')">
        <div class="dropdown-trigger">
            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu3">
                <span>Относящийся запросы</span>
                <span class="icon is-small">
                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                  </span>
            </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu3" role="menu">
            <div class="dropdown-content">
                {% for query in place.queries.all %}
                    <a href="{% url 'app:places' query.query.slug %}" class="dropdown-item">
                        {{ query }}
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
    <hr>
    <h3 class="block_title">Отзывы</h3>
    <div class="columns is-centered">
        <div class="review_form box column is-8">
            {% if not my_review %}
                {% include 'app/include/review/form.html' %}
            {% else %}
                <p class="text_centered" style="color:lightgreen;">Ваш отзыв сохранен</p>
            {% endif %}
        </div>
    </div>
    <br>
    {% for review in reviews %}
        {% include 'app/include/review/card.html' with review=review %}
    {% endfor %}
    {% include 'app/include/pagination.html' with page=reviews %}

{% endblock %}

{% block script %}
    <script>
        function showModalImg(url) {
            let modal = document.getElementById('modal');
            let img = document.getElementById('place_image');
            img.setAttribute('src', url);
            modal.classList.toggle('is-active');
        }

        function closeModal() {
            let modal = document.getElementById('modal');
            modal.classList.toggle('is-active');
        }
    </script>
    <script src="{% static 'js/rating_check.js' %}"></script>
    {#    <script>#}
    {#        function toggleActive(elem) {#}
    {#            if (!elem.classList.contains('is-active')) {#}
    {#                let tab_elements = document.querySelectorAll('li.tab');#}
    {#                tab_elements.forEach((element) => {#}
    {#                    let data_box_id = element.getAttribute('data-box');#}
    {#                    let data_box = document.getElementById(data_box_id);#}
    {#                    data_box.classList.toggle('show');#}
    {#                    element.classList.toggle('is-active')#}
    {#                })#}
    {#            }#}
    {#        }#}
    {#    </script>#}
{% endblock %}