{% extends 'app/base.html' %}
{% load app_tags %}
{% block title %}
    {{ place.name }} | {{ place.cid }}
{% endblock %}

{% block style %}
    {% if place.meta %}
        {{ place.meta|safe }}
    {% endif %}
    <style>
        .iframe_wrap iframe {
            box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
            border-radius: 5px;
            display: block;
            margin: auto;
        }
    </style>
{% endblock %}

{% block breadcrumb %}
    <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
            <li><a href="{% url 'app:query_list' %}">Мои запросы</a></li>
            {#    <li class="breadcrumb-item"><a href="{{ place.query.get_absolute_url }}">{{ place.query.name }}</a></li>#}
            <li class="is-active"><a href="#" aria-current="page">{{ place.cid }}</a></li>
        </ul>
    </nav>

{% endblock %}

{% block content %}
    <div class="modal" id="modal"  onclick="closeModal()">
        <div class="modal-background"></div>
        <div class="modal-content">
            <p class="image is-4by3">
                <img src="" alt="" id="place_image">
            </p>
        </div>
        <button class="modal-close is-large" aria-label="close" onclick="closeModal()"></button>
    </div>
    <h4 class="centered_link">{{ place.data.name }}</h4>
    {#    <div class="box block_data show" id="basic_data">#}
    {#        <span>{{ place.date_create }}</span>#}
    {#        <div class="">#}
    {#            <p><span>Название:</span> <span>{{ place.data.name }}</span></p>#}
    {#            <p><span>Адрес:</span> <span>{{ place.data.formatted_address }}</span></p>#}
    {#            <p><span>Рейтинг:</span> <span>{{ place.data.rating }}</span></p>#}
    {#            <p><span>Пользователей оценило:</span> <span>{{ place.data.user_ratings_total }}</span></p>#}
    {#            <p><span>Тип:</span> <span>{% for type in place.data.types %}{{ type }}{% if not forloop.last %},#}
    {#            {% endif %}{% endfor %}</span></p>#}
    {##}
    {#        </div>#}
    {#    </div>#}
    <div class="box" id="detail_data">
        <h4 style="color: #64b5f6; text-align: center">{{ place.name }} <br><span
                style="color:grey; font-size: 11px; ">{{ place.date_update }}</span></h4>
        {% if request.user|hasGroup:'Администратор' %}
            <a href="{% url 'app:place_update' place.pk %}" class="button_add button is-info">
                Обновить данные</a>
        {% endif %}
        <div style="display:flex;">

            <img src="{{ place.img|getImg }}" class="card" alt=""
                 style="height: 100% !important; max-width: 300px !important;margin-right: 10px">
            <div>
                <p><span>Название:</span> <span>{{ place.name }}</span></p>
                <p><span>Адрес:</span> <span>{{ place.address|isValue }}</span></p>
                <p><span>Сайт:</span> <span><a
                        href="{{ place.site|isSite }}">{{ place.site|isSite }}</a></span></p>
                <p><span>Телефон:</span> <span><a
                        href="tel:{{ place.phone_number }}">{{ place.phone_number|isValue }}</a></span></p>
                <p><span>Рейтинг:</span> <span>{{ place.rating }} (<span
                        style="color: #9c9c9c">{{ place.rating_user_count }}</span>)</span></p>
                </p>
                <p><span>Ссылка GoogleMaps:</span> <span><a href="https://maps.google.com/?cid={{ place.cid }}"
                                                            target="_blank">https://maps.google.com/?cid={{ place.cid }}</a></span>
                </p>

                <p class="iframe_wrap">{{ place.coordinate_html|safe }}</p>
                <p><span>Описание:</span> <span>{{ place.get_meta_description }}</span></p>
                {% if place.photos.count > 3 %}

                    <section class="" style="max-width: 1000px">
                        <div class="is-clipped">
                            <div id="slider">
                                {% for photo in place.photos.all %}
                                    <div class="card">
                                        <div class="card-image">
                                            <figure class="image is-16by9 is-covered">
                                                <img src="{{ photo.img.url }}" alt=""
                                                     style="width: 200px !important; height: 200px !important;" onclick="showModalImg('{{ photo.img.url }}')">
                                            </figure>
                                        </div>
                                    </div>
                                {% endfor %}

                            </div>
                        </div>
                    </section>
                {% else %}
                    <div style="display: flex; justify-content: center;flex-wrap: wrap; ">
                        {% for photo in place.photos.all %}
                            <img src="{{ photo.img.url }}" alt=""
                                 style="width: 200px !important; height: 200px !important; margin: 20px; border-radius: 10px;" onclick="showModalImg('{{ photo.img.url }}')">
                        {% endfor %}
                    </div>
                {% endif %}
                <h4 class="block_title">Отзывы</h4>
                {% for review in place.reviews_google.all %}
                    <div class="columns is-centered">
                        <div class="column is-8 box">
                            <span class="author"
                                  style="display: flex; justify-content: space-between; width:auto;">{{ review.author_name }} <span>{{ review.rating|getRating|safe }}</span></span>
                            <span class="text">{{ review.text }}</span>
                        </div>
                    </div>
                    <br>
                {% empty %}
                    <p class="empty">Пока никто не оставил отзывов</p>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="dropdown" onclick="this.classList.toggle('is-active')">
        <div class="dropdown-trigger">
            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu3">
                <span>Относящийся запросы</span>
                <span class="icon is-small">
                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                  </span>
            </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu3" role="menu">
            <div class="dropdown-content">
                {% for query in place.queries.all %}
                    <a href="{% url 'app:places' query.query.slug %}" class="dropdown-item">
                        {{ query }}
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
    <hr>
    <h3 class="block_title">Отзывы</h3>
    <div class="columns is-centered">
        <div class="review_form box column is-8">
            {% if not my_review %}

                <form action="{% url 'app:review_add' place.cid %}" method="post">
                    {% csrf_token %}
                    <div class="rating-area">
                        <input type="radio" id="star-5" name="rating" value="5">
                        <label for="star-5" title="Оценка «5»"></label>
                        <input type="radio" id="star-4" name="rating" value="4">
                        <label for="star-4" title="Оценка «4»"></label>
                        <input type="radio" id="star-3" name="rating" value="3">
                        <label for="star-3" title="Оценка «3»"></label>
                        <input type="radio" id="star-2" name="rating" value="2">
                        <label for="star-2" title="Оценка «2»"></label>
                        <input type="radio" id="star-1" checked name="rating" value="1">
                        <label for="star-1" title="Оценка «1»"></label>
                    </div>
                    <i class="fa fa-star-o"></i>
                    Оставить отзыв как: {{ request.user.last_name }} {{ request.user.first_name }}
                    <textarea name="text" class="textarea" id="" cols="" rows=""></textarea>
                    <button type="submit" class="button is-info block_centered">Отправить</button>
                </form>
            {% else %}
                <p class="text_centered" style="color:lightgreen;">Ваш отзыв сохранен</p>
            {% endif %}
        </div>
    </div>
    <br>
    {% for review in reviews %}
        <div class="columns is-centered">
            <div class="box column is-8">
                <p style="border-bottom: 1px solid lightgrey; display: flex; justify-content: space-between; margin-bottom: 3px">
                    <span>{{ review.user.last_name }} {{ review.user.first_name }}
                <span style="color:grey;">({{ review.date_create }})</span>
                    </span>
                    {% if review.user == request.user or request.user|hasGroup:'Редактор' %}
                        <a href="{% url 'app:my_review_edit' review.pk %}">
                            {% if review.is_edit %}
                                <span style="color: grey">Было ред.:{{ review.date_update }}</span>
                            {% endif %}
                            <span class="icon" style="color: orange">
                            <i class="fas fa-edit"></i>
                        </span>
                        </a>
                    {% else %}
                        <p></p>
                    {% endif %}
                </p>
                <span>{{ review.rating|getRating|safe }}</span>
                <p>{{ review.text }}</p>
            </div>

        </div>

        <br>
    {% endfor %}
    {% include 'app/include/pagination.html' with page=reviews %}

{% endblock %}

{% block script %}
    <script>
    function showModalImg(url){
        let modal = document.getElementById('modal');
        let img = document.getElementById('place_image');
        img.setAttribute('src', url);
        modal.classList.toggle('is-active');
    }
    function closeModal(){
        let modal = document.getElementById('modal');
        modal.classList.toggle('is-active');
    }
    </script>
    {#    <script>#}
    {#        function toggleActive(elem) {#}
    {#            if (!elem.classList.contains('is-active')) {#}
    {#                let tab_elements = document.querySelectorAll('li.tab');#}
    {#                tab_elements.forEach((element) => {#}
    {#                    let data_box_id = element.getAttribute('data-box');#}
    {#                    let data_box = document.getElementById(data_box_id);#}
    {#                    data_box.classList.toggle('show');#}
    {#                    element.classList.toggle('is-active')#}
    {#                })#}
    {#            }#}
    {#        }#}
    {#    </script>#}
{% endblock %}