{% extends 'app/base.html' %}
{% load app_tags %}

{% block title %}
    Пользователи
{% endblock %}


{% block content %}
    <table class="table is-bordered">
        <thead>
        <tr style="text-align: center;">
            <th>ФИО</th>
            <th>Роль</th>
            <th>Регистрация</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.last_name }} {{ user.first_name }}</td>
                <td>{% if user.groups.count %}{{ user.groups.first }}{% else %}-{% endif %}</td>
                <td>{{ user.date_joined }}</td>
                <td>
                    <a href="{% url 'app:user_detail' user.pk %}">
                    <span class="icon block_centered" style="color: orange">
                        <i class="fas fa-edit"></i>
                    </span>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% include 'app/include/pagination.html' with page=users %}
{% endblock %}