{% extends 'app/base.html' %}

{% block title %}
    Профиль
{% endblock %}


{% block content %}
    <form action="" class="custom_form" method="post">
            {% csrf_token %}
        <div class="field">
            <label for="" class="label">
                Логин
            </label>
            <div class="control">
                <input type="text" class="input" required name="username" value="{{ user.username }}">
            </div>
        </div>
        <div class="field">
            <label for="" class="label">
                Фамилия
            </label>
            <div class="control">
                <input type="text" class="input" name="last_name" value="{{ user.last_name }}">
            </div>
        </div>
        <div class="field">
            <label for="" class="label">
                Имя
            </label>
            <div class="control">
                <input type="text" class="input" name="first_name" value="{{ user.first_name }}">
            </div>
        </div>
        <div class="field">
            <label for="" class="label">
                Почта
            </label>
            <div class="control">
                <input type="email" class="input" name="email" value="{{ user.email }}">
            </div>
        </div>
        <div class="centered centered_flex">
            <button type="submit" class="button is-info">Изменить</button>
            <a href="{% url 'logout' %}" class="button is-danger">Выход</a>
        </div>
    </form>
{% endblock %}